<div class="container">
    <div class="row">
        <div class="col-3 m-0" *ngFor="let productItem of productItems ; let i = index">
            <div class="card m-3">
                <div class="wrapper">
                    <div class="z-3 position-absolute p-2 mt-5 rounded-3 text-light bg"
                        [ngClass]="productItem.availableQty > 0 ? 'bg-success' : 'bg-danger'">
                        {{productItem.availableQty > 0 ? 'Instock' : 'Out Of Stock'}}
                    </div>
                    <img src="{{productItem.images[0]}}" class="card-img-top object-fit-cover" alt="...">
                </div>
                <div class="card-body">

                    <h5 class="card-title">{{productItem.name}}</h5>
                    <div class="card-text">
                        <span class="badge text-bg-info">{{productItem.price}}$</span>
                        <div class="d-flex">
                            <div *ngFor="let s of [].constructor(productItem.rating)">
                                <i class="fa-solid fa-star text-warning"></i>
                            </div>
                        </div>
                        <p>
                            {{productItem.description[0]}}
                        </p>
                        <div class="d-flex justify-content-between">
                            <div> <button (click)="addToCart(productItem)" href="#" class="btn"
                                    [ngClass]="productItem.availableQty > 0 ? 'btn-primary' : 'btn-secondary disabled'">Add
                                    to Cart</button></div>
                            <div>
                                <div data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-primary"
                                    (click)="selected=productItem">View More</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-product-popup [productData]="selected"></app-product-popup>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>