.wrapper{
    object-fit: cover;
    height:28vh;
}
.wrapper img{
    width:100%;
    height:100%;
}
.wrapper2{
    object-fit: cover;
    height:12vh;
}
.wrapper2 img{
    width:100%;
    height:100%;
}
